<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.net>
        <mailSettings>
            <smtp from="sapb1.abeoelectra@gmail.com">
                <network defaultCredentials="false" password="abeo1234" userName="sapb1.abeoelectra" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
